*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #f1f3f5;
}

img{
    width: 200px;
    height: 40vh;
    cursor: pointer;
    object-fit: contain;
}

#main{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

.card{
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    width: 20%;
    height: 60vh;
    box-shadow: #d6d6d6 1px 2px 5px 3px;
}

.card:hover{
    box-shadow: #cccbcb 1px 2px 5px 3px;
    transform: scale(1.01);
    transition: .3s ease;
}

.card h2{
    font-size: 18px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card h4{
    font-weight: lighter;
    color: green;
}

.card button{
    color: #fff;
    font-size: 14px;
    background-color: #000;
    outline: none;
    border: 1px solid #000;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.card button:hover{
    background-color: #fff;
    color: #000;
    transition: .3s ease;
}

select{
    padding: 3px;
    border: 1px solid #000;
    color: #000;
    margin: 10px;
}

.header{
    text-align: center;
    margin: 20px;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: 40%;
}

.loader img{
    height: 500px;
}